@import url(style.css);

.grid-area{
  display: grid;
  grid-template-columns: repeat(6,200px);
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  'header header header header header header';
  /* grid-template-areas: 
  'header header'
  'sidebar content'; */
}

.header{
  grid-area: header;
  background-color: brown;
}

/* .sidebar{
  grid-area: sidebar;
  background-color: aqua;
}

.content{
  grid-area: content;
  background-color: blue;
} */